body {
  margin: 0;
  padding: 0;
  font-family: NotoSansCJKjp;
  font-weight: 500;
  border: 5px solid #444444;
  border-radius: 12px;
}

body {
  padding: 10px 5px 0px;
  box-sizing: border-box;
  width: 300px;
  color: #222;
}

label {
  margin-left: 10px;
}

.label-text {
  font-weight: bold;
  font-size: 14px;
}

label > div{
  margin-top: 10px;
}

#test {
  opacity: 0.0;
  height: 0;
  width: 0;
  border: none;
  padding: 0;
  margin: 0;
}

#Rectangle-2 {
  width: 280px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 10px;
  margin-top: 6px;
  z-index: 1;
}

#Oval {
  width: 30px;
  height: 30px;
  background-image: url(../icon.png);
  -webkit-background-size: cover;
  background-size: cover;
  float: left;
  margin: 0px 0px 0px 8px;
  border-radius: 50%;
  border: solid 0px #000000;
}

#layer {
  width: 220px;
  height: 20px;
  font-family: NotoSansCJKjp;
  font-size: 14px;
  font-weight: bold;
  color: #444444;
  margin: 4px 0px 0px 15px;
  float: left;
}


#page-url {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-end: 0.5px;
}

#page-title {
  margin-left: 20px;
  margin-right: 20px;
  width: 240px;
}

.menu-item {
  line-height: 30px;
  padding-left: 10px;
  font-weight: bold;
  border-radius: 4px;
}

.menu-item:hover {
  cursor: pointer;
  background-color: #ff0033;
  color: #fff;
}
